* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.arbutus-regular {
  font-family: "Arbutus", serif;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  background: #e3f9ff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  background: #3a4452;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  width: 350px;
  display: grid;
  grid-template-areas:
    "display display display display"
    "ac c percent divide"
    "btn7 btn8 btn9 btnmultiply "
    "btn4 btn5 btn6 minus "
    "btn1 btn2 btn3 plus "
    "btn0 btndot equals equals ";
  justify-content: space-around;
  gap: 1rem;
  color: whitesmoke;
}

.calculator-container > .btn {
  box-shadow: -8px -8px 10px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.2);
  background: transparent;
  border-radius: 10px;
  padding: 1.5rem;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.display {
  grid-area: display;
  text-align: end;
  padding: 10px 20px;
}

.btn-ac {
  grid-area: ac;
}
.btn-c {
  grid-area: c;
}
.btn-precent {
  grid-area: percent;
}
.btn-divide {
  grid-area: divide;
}
.btn-7 {
  grid-area: btn7;
}
.btn-8 {
  grid-area: btn8;
}
.btn-9 {
  grid-area: btn9;
}
.btn-multiply {
  grid-area: btnmultiply;
}
.btn-4 {
  grid-area: btn4;
}
.btn-5 {
  grid-area: btn5;
}
.btn-6 {
  grid-area: btn6;
}
.btn-minus {
  grid-area: minus;
}
.btn-1 {
  grid-area: btn1;
}
.btn-2 {
  grid-area: btn2;
}
.btn-3 {
  grid-area: btn3;
}
.btn-plus {
  grid-area: plus;
}
.btn-zero {
  grid-area: btn0;
}
.btn-dot {
  grid-area: btndot;
}
.btn-equals {
  grid-area: equals;
}
