.calculator-container {
  max-width: 40vw;
  display: grid;
  grid-template-areas:
    "display display display display"
    "ac c percent divide"
    "btn7 btn8 btn9 btnmultiply "
    "btn4 btn5 btn6 minus "
    "btn1 btn2 btn3 plus "
    "btn0 btndot equals equals ";
}

.display {
  grid-area: display;
}

.btn-ac {
  grid-area: ac;
}
.btn-c {
  grid-area: c;
}
.btn-precent {
  grid-area: percent;
}
.btn-divide {
  grid-area: divide;
}
.btn-7 {
  grid-area: btn7;
}
.btn-8 {
  grid-area: btn8;
}
.btn-9 {
  grid-area: btn9;
}
.btn-multiply {
  grid-area: btnmultiply;
}
.btn-4 {
  grid-area: btn4;
}
.btn-5 {
  grid-area: btn5;
}
.btn-6 {
  grid-area: btn6;
}
.btn-minus {
  grid-area: minus;
}
.btn-1 {
  grid-area: btn1;
}
.btn-2 {
  grid-area: btn2;
}
.btn-3 {
  grid-area: btn3;
}
.btn-plus {
  grid-area: plus;
}
.btn-zero {
  grid-area: btn0;
}
.btn-dot {
  grid-area: btndot;
}
.btn-equals {
  grid-area: equals;
}
